.linesboxes .diagram {
  margin: 10px;
  font-size: 12pt;
  line-height: 1;
  font-family: sans-serif;
}

.linesboxes .box {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}

.linesboxes .boxbody {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  overflow: hidden;
  font-size: 10pt;
}

.linesboxes .tablerow, .linesboxes .tablecol {
  stroke-width: 1px;
  stroke: black;
}

.linesboxes .path {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}
